/** Fonts Google **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/** Estilo corpo páginas **/
:root {
    --text-color: white;
    --icon-color: #0d6efd;
    --bg-url: url(imagens/img_background/background_páginas.jpg);
    --bg-forms-url: url(imagens/img_background/background_cadastros.jpg);
    --bg-url-two: url(imagens/img_home/background_home_dois.jpg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

/** Estilos Barra de Navegação **/
.CustomDropdown {
    padding: 0px !important;
}

.nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/** Background Home **/
.bg-home {
    background: var(--bg-url) center/cover;
    height: 357px;
}

.bg-home-dois {
    background: var(--bg-url-two) center/cover;
    max-height: 300rem;
}

/** Fontes e outros estilos-home **/
.customFont {
    padding: 98px;
}

.bi-icon {
    font-size: 2rem;
    color: #95b7ff;
}

.bi-card {
    font-size: 12px;
    color: var(--icon-color);
}

.font-small {
    font-size: 11px;
}

.font-media {
    font-size: 12px;
}

/** Background destinos e contato **/
.bg-destino-contato {
    background: var(--bg-url) center/cover;
}

/** Estilo formulario destinos **/
.form-check-label,
.form-label,
.form-control {
    font-size: 13px;
}

.form-control {
    height: 30px;
}

/** Background promoções **/
.bg-promo {
    background: var(--bg-url) center/cover;
    height: 299px;
}

/** Margens e outros estilos-promoções **/
.p-h2 {
    padding: 73px;
}

.card-text {
    font-size: 11px;
    color: #6e6e6e;
    margin-top: -8px;
}

.icon {
    color: var(--icon-color);
    margin-top: -8px;
}

.marginParagraph {
    margin: 7px 0 -3px;
}

/** Fontes e outros estilos-contato **/
.fonte {
    font-size: 13px !important;
}

.bi-style {
    font-size: 35px;
    color: #000000;
}

/** Estilo página login-cadastro **/
.bgFormLogin {
    background: var(--bg-url) center/cover;
}

.customRow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 12px !important;
}

#linkCadastro,
#linkLogin {
    text-decoration: none;
}

.custom-link {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-decoration: none;
}

.bgLoginCadastro {
    background-color: rgba(255, 255, 255, 0.8) !important;
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #7b7b7b;
    cursor: pointer;
    padding: 5px;
}

.eye-icon:hover {
    color: var(--icon-color);
}

/** Estilos cadastro compra **/
.bgForms {
    background: var(--bg-forms-url) top/cover;
    color: var(--text-color);
    padding: 130px 0px 25px;
}

/** Estilo do rodapé **/
.custom-footer {
    background-color: #0d6efd;
    color: var(--text-color);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
}