<html lang="pt-br"   xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head ('DestinoFácil | Login')}"></head>

<body class="bgRegisterLogin">
	<main>
		<section class="area-register">
			<div class="register shadow">
				<div class="my-4">
					<h3>Acessar Conta</h3>
				</div>
				<!-- Início Form Cadastrar -->
				<form th:action="@{/login}" role="form" method="post">
					
					<div class="mb-2 input-container">
						<label for="email">Email</label>
						<i class="bi bi-envelope fs-5"></i>
						<input class="form-control formStyle" type="email" id="username" name="username" autofocus
							placeholder="Email" />
					</div>
					
					<div class="mb-3 input-container">
						<label for="senha">Senha</label>
						<i class="bi bi-lock-fill fs-5"></i>
						<input class="form-control formStyle" type="password" id="password" name="password" autofocus
							placeholder="Senha" />
					</div>
					
					<div class="mb-3 mt-2 d-grid gap-2">
						<button class="btn btnGroupThree" type="submit">Entrar</button>
						<small class="text-center">
							Ainda não tem conta?
							<a th:href="@{/register}" class="text-decoration-none">Registre-se</a>
						</small>
					</div>
				</form>
				<div th:if="${param.error}" class="mt-2 alert alert-danger text-center">
					<small>Email ou senha inválidos!</small>
				</div>
				<div th:if="${param.logout}" class="mt-2 alert alert-success text-center">
					<small>Você foi desconectado!</small>
				</div>
				<!-- Fim Form Cadastrar -->
			</div>
		</section>
	</main>

</body>

</html>